body {
    font-family: 'Sen', sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
}

a {
    text-decoration: none;
}

footer {
    position: fixed;
    bottom: 0;
    margin-bottom: 20px;
}

footer > small {
    text-align: center;
    display: block;
}

#commit-date {
    font-weight: bold;
}

#commit-msg {
    font-style: italic;
}